<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<title>Document</title>
</head>
<body>

	<header class="header">
		<div class="container">
			<div class="header__inner">
				<a href="index.html">AR-GROUP</a>
				<span>БАЗА ЗНАНИЙ</span>
			</div>
		</div>
	</header>

	<main>

		<section class="offer">
			<div class="container">
				<div class="offer__inner">
					<div class="offer__inner-text">
						<h1>БАЗА ЗНАНИЙ КОМПАНИИ AR-GROUP</h1>
						<p>Повышай свои навыки вместе с нашей командой</p>
					</div>
					<img src="img/offer__img.svg" alt="">
				</div>
			</div>
		</section>


		<section class="knowledge-base">
			<div class="container">
				<div class="knowledge-base__inner">
					<form>
						<div>
						    <label for="id_name">Поиск:</label>
							<input type="text" name="name" maxlength="2500" required="" id="id_name">
							<button type="submit">
								
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		                                <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke="#fff" stroke-width="1.5"></path>
		                                <path d="M18.5 18.5L22 22" stroke="#fff" stroke-width="1.5" stroke-linecap="round"></path>
	                            	</svg>
	                            	<span>Найти</span>
								</a>                            
                       		</button>
						</div>

						<div class="filter__tags">
							<div class="filter__tag">
								<input type="checkbox">
								<span>#wordpress</span>
							</div>

							<div class="filter__tag">
								<input type="checkbox">
								<span>#html</span>
							</div>

							<div class="filter__tag">
								<input type="checkbox">
								<span>#css</span>
							</div>

							<div class="filter__tag">
								<input type="checkbox">
								<span>#js</span>
							</div>


							<div class="filter__tag">
								<input type="checkbox">
								<span>#ajax</span>
							</div>


							<div class="filter__tag">
								<input type="checkbox">
								<span>#php</span>
							</div>


							<div class="filter__tag">
								<input type="checkbox">
								<span>#figma</span>
							</div>

							<div class="filter__tag">
								<input type="checkbox">
								<span>#wordpress</span>
							</div>

							<div class="filter__tag">
								<input type="checkbox">
								<span>#html</span>
							</div>

							<div class="filter__tag">
								<input type="checkbox">
								<span>#css</span>
							</div>

							<div class="filter__tag">
								<input type="checkbox">
								<span>#js</span>
							</div>


							<div class="filter__tag">
								<input type="checkbox">
								<span>#ajax</span>
							</div>


							<div class="filter__tag">
								<input type="checkbox">
								<span>#php</span>
							</div>


							<div class="filter__tag">
								<input type="checkbox">
								<span>#figma</span>
							</div>


						</div>

					</form>
				</div>
			</div>
		</section>
		
		
	</main>



	

</body>

</html>